.green-button {
  display: block;
  padding: 10px 20px;
  font-size: 26px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  background-color: #05bf4b;
  border: 0;
  border-radius: 16px;
}