.productivity {
  color: white;
  text-transform: capitalize;
  background-color: #f6c500;  
  padding: 50px 10px 50px 10px;
  
  @media  screen and (min-width: 750px) {
    padding: 0 10px;
  }

  @media  screen and (min-width: 2100px) {
    padding: 0 100px;
  }

  &__container {
    text-align: center;

    @media  screen and (min-width: 750px) {
      width: 730px;
      margin: 0 auto;
    }

    @media  screen and (min-width: 960px) {
      width: 940px;
      margin: 0 auto;
    }

    @media  screen and (min-width: 1200px) {
      width: 1000px;
      margin: 0 auto;
    }

    @media  screen and (min-width: 2100px) {
      width: 1900px;
      margin: 0 auto;
    }

  }

  &__bg-image {
    display: none;   
    
    @media  screen and (min-width: 750px) {
      display: inline-block;
      background-image: url("../image/bg/Natali.png");
      background-size: 420px;
      background-repeat: no-repeat;
      width: 420px;
      height: 255px;
      vertical-align: bottom;
    }
  }

  &__text {
    display: inline-block;
    text-align: center;
    width: 300px;

    @media  screen and (min-width: 750px) {

      vertical-align: bottom;
      text-align: left;
      padding-top: 20px;
      padding-bottom: 40px;
    }
  }

  &__button-triangle {
    width: 34px;
    padding: 0 4px;
    display: inline-block;
    vertical-align: middle;
  }

  &__title {
    color: white;
    font-size: 38px;
    margin-bottom: 40px;
  }

  &__button {
    display: inline-block;
    vertical-align: middle;
    color: white;
    text-transform: capitalize;
    border: 0;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transition: 1s;

    &:hover {
      box-shadow: 0px 0px 9px 7px rgba(255,255,255,0.75);
    };
  }

  &__pop-up-wrapper {
    display: none;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,25,25,0.8);
    cursor: pointer;
  }

  &__pop-up {
    position: fixed;
    display: none;
    padding: 20px;
    left: 50%;
    top: 50%;
    z-index: 3;
    width: 600px;
    height: 355px;
    transform: translate(-50%,-50%);
    text-align: center;
    transition: .64s ease-in-out;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.75);
  }

  &__pop-up-button-close {
    position: absolute;
    right: -15px;
    top: -15px;
    width: 45px;
    height: 45px;
    font-size: 15px;
    border: 0;
    font-weight: 300;
    border-radius: 100%;
    background-color: #0A0A0A;
    z-index: 4;
    color: #fff;
    line-height: 45px;
    text-align: center;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 11px 2px cyan;
      color: cyan;
    };
  }
}

.visible {
  display: block;
}