.productivity {
  color: white;
  text-transform: capitalize;
  background-color: #f6c500;  
  padding: 50px 10px 50px 10px;

  &__container {
    text-align: center;

    @media  screen and (min-width: 750px) {
      width: 730px;
      margin: 0 auto;
    }

    @media  screen and (min-width: 960px) {
      width: 940px;
      margin: 0 auto;
    }
  }

  &__bg-image {
    display: none;
   
    
    @media  screen and (min-width: 750px) {
      display: inline-block;
      position: relative;
      bottom: -72px;
      background-image: url('../image/bg/Natali.png');
      background-size: 400px;
      background-repeat: no-repeat;
      width: 400px;
      height: 200px;
    }
  }

  &__text {
    display: inline-block;
    text-align: center;
    width: 300px;

    // @media  screen and (min-width: 750px) {
      
    // }
  }

  &__button-triangle {
    width: 34px;
    padding: 0 4px;
    display: inline-block;
    vertical-align: middle;
  }

  &__title {
    color: white;
    font-size: 38px;
    margin-bottom: 40px;
  }

  &__button {
    display: inline-block;
    vertical-align: middle;
    color: white;
    border: 0;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
  }

  &__pop-up-wrapper {
    display: none;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,25,25,0.8);
    cursor: pointer;
  }

  &__pop-up {
    position: fixed;
    display: none;
    padding: 20px;
    left: 50%;
    top: 50%;
    z-index: 3;
    width: 600px;
    height: 355px;
    transform: translate(-50%,-50%);
    text-align: center;
    transition: .64s ease-in-out;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.75);
  }

  &__pop-up-button-close {
    position: absolute;
    right: -15px;
    top: -15px;
    width: 45px;
    height: 45px;
    font-size: 15px;
    border: 0;
    font-weight: 300;
    border-radius: 100%;
    background-color: #0A0A0A;
    z-index: 4;
    color: #fff;
    line-height: 45px;
    text-align: center;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 11px 2px cyan;
      color: cyan;
    };
  }
}

.visible {
  display: block;
}


// x

// .bg-awards {
//     width: 300px; height: 26px;
//     background: url('css_sprites.png') -204px -351px;
// }

// x

// .bg-beta {
//     width: 200px; height: 41px;
//     background: url('css_sprites.png') -130px -429px;
// }

// x

// .bg-blackArrow {
//     width: 40px; height: 17px;
//     background: url('css_sprites.png') -590px -133px;
// }

// x

// .bg-fc2 {
//     width: 210px; height: 49px;
//     background: url('css_sprites.png') -330px -163px;
// }

// x

// .bg-folderColorizer {
//     width: 240px; height: 55px;
//     background: url('css_sprites.png') -330px -10px;
// }

// x

// .bg-folders {
//     width: 150px; height: 33px;
//     background: url('css_sprites.png') -130px -490px;
// }

// x

// .bg-greyArrow {
//     width: 13px; height: 26px;
//     background: url('css_sprites.png') -590px -293px;
// }

// x

// .bg-link {
//     width: 18px; height: 22px;
//     background: url('css_sprites.png') -590px -251px;
// }

// x

// .bg-logo {
//     width: 50px; height: 40px;
//     background: url('css_sprites.png') -590px -10px;
// }

// x

// .bg-logo1 {
//     width: 174px; height: 58px;
//     background: url('css_sprites.png') -10px -351px;
// }

// x

// .bg-logo2 {
//     width: 223px; height: 58px;
//     background: url('css_sprites.png') -330px -85px;
// }

// x

// .bg-logo3 {
//     width: 188px; height: 55px;
//     background: url('css_sprites.png') -10px -276px;
// }

// x

// .bg-logo4 {
//     width: 300px; height: 28px;
//     background: url('css_sprites.png') -218px -276px;
// }

// x

// .bg-logo5 {
//     width: 300px; height: 44px;
//     background: url('css_sprites.png') -10px -212px;
// }

// x

// .bg-Mark {
//     width: 100px; height: 100px;
//     background: url('css_sprites.png') -10px -429px;
// }

// x

// .bg-PCWorld_red {
//     width: 160px; height: 35px;
//     background: url('css_sprites.png') -350px -429px;
// }

// x

// .bg-playVideo {
//     width: 21px; height: 21px;
//     background: url('css_sprites.png') -590px -170px;
// }

// x

// .bg-red1 {
//     width: 10px; height: 10px;
//     background: url('css_sprites.png') -630px -211px;
// }

// x

// .bg-triangle {
//     width: 34px; height: 43px;
//     background: url('css_sprites.png') -590px -70px;
// }

// x

// .bg-usa {
//     width: 10px; height: 10px;
//     background: url('css_sprites.png') -628px -251px;
// }

// x

// .bg-windowsIcon {
//     width: 20px; height: 20px;
//     background: url('css_sprites.png') -590px -211px;
// }

// x

// .bg-Natalii {
//     width: 300px; height: 182px;
//     background: url('css_sprites.png') -10px -10px;
// }