.tutorials {
  background-color: #2e3138;
  padding: 50px 15px 100px;
  color: white;

  &__container {

    @media  screen and (min-width: 750px) {
      width: 730px;
      margin: 0 auto;
    }

    @media  screen and (min-width: 960px) {
      width: 940px;
      margin: 0 auto;
    }
  }

  &__title {
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;

    @media  screen and (min-width: 630px) {
      font-size: 40px;
      margin-bottom: 60px;
    }
  }

  &__image {
    display: block;
    width: 300px;

    @media  screen and (min-width: 630px) {
      float: left;
      width: 40%;
    }
  }

  &__text-title {
    margin-bottom: 30px;
  }

  &__text-paragraph {
    margin-bottom: 30px;
    color: #acadb5;

    @media  screen and (min-width: 630px) {
      margin-bottom: 0;
    }
  }

  &__text-wrapper {
    @media  screen and (min-width: 630px) {
      float: right;
      width: 55%;
    }
  } 

  &__wrapper {
    margin-bottom: 30px;

      &:last-child {     
        margin-bottom: 0;
      }
  }
}